#mainHeading
{
    text-transform:uppercase;
    text-align: center;
    text-decoration:underline;
    text-shadow:2px 2px 2px rgb(255, 204, 0);
    font-weight:bold;
    font-size:3vw;
}
body{
    background-color:#111;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    color:#fff;
    text-align:center;
    line-height:1.6;
}
.textSection{
    font-family:"Courier New", Courier, monospace;
}
.textStyle{
    font-family:"Gill Sans", sans-serif;
    color:#fde39b;
    font-weight:bolder;
    font-size:30px;
}
img{
    width:70%;
    height:400px;
}
figcaption {
    font-style:italic;
    font-weight:900;
    color:hsl(33, 88%, 73%);
}
footer{
    color:#fff;
    font-family:"Arial", sans-serif;
    text-align:center;
}

