 /* General Styling */
 body {
    font-family: "Arial", sans-serif;
    background-color: #2c3e50; /* Dark background color */
    color: #ecf0f1; /* Light text color */
    text-align: center;
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000002644_1709089520_download.jpg");
  }

  h1 {
    color: white; /* Blue heading color */
  }

  .book-title {
    color: #333;
    font-size: 20px;
  }

  .book-author {
    color: #555;
    font-size: 16px;
  }

  .book-stock {
    color: #27ae60;
    font-size: 14px;
    margin-top: 5px;
  }

  /* Student Issued Books Table Styling */
  table{
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    
  }
  td{
    background-color:#494d5f;
    color: white;
    height: 30px;
    padding: 8px;
    border: 1px solid;

  }
  th {
    background-color: #a28089;
    color: white;
    height: 30px;
  }

  div{
    display: inline-block;
    border: 2px #3498db solid;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin:20px;
  }

  nav{
    background-color: #333;
    padding: 10px;
  }
  a{
    margin: 0px 10px;
    color: white;
    font-weight: bold;
    
  }